*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* #Featured Courses Card start  */
.a2n_featured-card {
  margin: 0 auto;
  width: 100%;
  max-width: 630px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ededed;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    .course-img {
      img {
        transform: scale(1.12);
      }
    }
  }
  .course-img {
    position: relative;
    overflow: hidden;
    max-width: 250px;
    border-radius: 8px;
    img {
      border-radius: 8px;
      width: 100%;
      max-width: 100%;
      height: auto;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  .course-contents {
    span {
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #4f547b;
    }
    .course-details {
      display: flex;
      align-items: center;
      gap: 10px;
      span.rating {
        font-size: 14px;
        color: #e59819;
      }
      .stars {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 5px;
        i {
          font-size: 9px;
          color: #e59819;
        }
      }
      .course_icon-box {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .course-title {
      a {
        margin-top: 10px;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
        color: #140342;
        overflow: hidden;
        height: 44px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: #6440fb;
        }
      }
    }
    .cd {
      gap: 15px;
      margin: 10px 0;
    }
    .course_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      border-top: 1px solid #ededed;
      span.user-text {
        font-size: 15px;
      }
      .course-price {
        span {
          font-family: "DM Sans", sans-serif;
          font-size: 18px;
          font-weight: 500;
          color: #140342;
          del {
            font-size: 15px;
            color: #4f547b;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .a2n_featured-card {
    flex-direction: column;
    .course-contents {
      padding: 0 10px;
    }
  }
}
/* #Featured Courses Card end  */
/* #Top Categories Card start  */
.a2n_cat-card {
  margin: 0 auto;
  width: 100%;
  max-width: 190px;
  background: #fff;
  border: 1px solid #ededed;
  padding: 30px 40px;
  display: block;
  text-align: center;
  &:hover {
    .cat_icon {
      color: #fff;
      background: #140342;
    }
  }
  .cat_icon {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background: #eef2f6;
    border-radius: 100%;
    font-size: 40px;
    color: #140342;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  h3 {
    margin: 20px 0 10px 0;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    color: #140342;
  }
  p {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #4f547b;
  }
}
/* #Top Categories Card end  */
/* #Upcoming events card start  */
.a2n_up-card {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(25, 25, 46, 0.04);
  .card-head {
    display: flex;
    align-items: center;
    .shape {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      text-align: center;
      margin-right: 20px;
      background: #140342;
    }
    h4 {
      margin: 0;
      font-family: "DM Sans", sans-serif;
      font-size: 17px;
      line-height: 26px;
      font-weight: 500;
      color: #fff;
    }
    span {
      margin: 0;
      font-family: "DM Sans", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
    }
    a {
      margin: 0;
      font-family: "DM Sans", sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 26px;
      color: #4f547b;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: #6440fb;
      }
    }
  }
  p {
    margin: 10px 0 0 0;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4f547b;
  }
}
/* #Upcoming events card end  */
/* #Blogs card start  */
.a2n_blog-card {
  width: 100%;
  max-width: 300px;
  .blog_img {
    img {
      width: 100%;
    }
  }
  .blogCard__content {
    margin-top: 20px;
    .blogCard__category {
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: #6440fb;
    }
    .blogCard__title {
      margin: 0;
      a {
        font-family: "DM Sans", sans-serif;
        margin-top: 5px;
        font-size: 17px;
        line-height: 26px;
        font-weight: 500;
        color: #242239;
        overflow: hidden;
        height: 54px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: #6440fb;
        }
      }
    }
    .blogCard__date {
      margin-top: 5px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #4f547b;
    }
  }
}
/* #Blogs card end  */
/* #testimonials  card start  */
.a2n_testimonial-card {
  border-radius: 8px;
  background-color: #fff;
  padding: 30px 30px 20px;
  .testimonials__title {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    color: #6440fb;
  }
  .testimonials__text {
    font-family: "DM Sans", sans-serif;
    margin-top: 14px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #140342;
  }
  .testimonials-footer {
    display: flex;
    align-items: center;
    margin-top: 26px;
    padding-top: 20px;
    border-top: 1px solid #ededed;
  }
  .testimonials-footer__image {
    margin-right: 20px;
    img {
      border-radius: 100%;
      width: 60px;
      height: 60px;
    }
  }
  .testimonials-footer__title {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: 500;
  }
  .testimonials-footer__text {
    font-family: "DM Sans", sans-serif;
    margin-top: 5px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #4f547b;
  }
}
/* #testimonials  card end  */
/* #Instructors team Card start */
.a2n-team_card {
  .teamCard__image {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
  .teamCard__socials {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 6, 79, 0.6);
    border-radius: 8px;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
  }
  .socials_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(15px);
    a {
      padding: 5px 10px;
      color: #fff;
    }
  }
  .teamCard__content {
    margin-top: 20px;
    h4 {
      overflow: hidden;
      height: 26px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      a {
        font-family: "DM Sans", sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 26px;
        color: #140342;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: #6440fb;
        }
      }
    }
    p {
      margin: 0;
      font-family: "DM Sans", sans-serif;
      margin-top: 5px;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      color: #4f547b;
    }
  }
  .teamCard_footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin: -5px;
    .t-items {
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 5px;
      i {
        font-size: 11px;
        color: #e59819;
      }
      img {
        width: 11px;
        height: 11px;
      }
      span {
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: #e59819;
      }
      p {
        margin: 0;
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #4f547b;
      }
    }
  }
  &:hover {
    .teamCard__socials {
      opacity: 1;
    }
    .socials_icons {
      transform: translateY(0);
    }
  }
}
/* #Instructors team Card end  */
